In [4]:
import pandas as pd

In [2]:
# https://www.kaggle.com/nikdavis/datasets

In [3]:
csvfile = "steam.csv"

In [26]:
df_games = pd.read_csv(csvfile)

In [32]:
df_games = df_games[["appid", "name"]]

In [33]:
df_games = df_games.rename(columns={"appid": "product_id"}, errors="raise")

In [7]:
reviews = pd.read_hdf("reviews_small.h5", "df")

In [46]:
reviews["product_id"] = reviews["product_id"].astype(int)

In [52]:
reviews = reviews.merge(df_games, how = "left", on = "product_id")

In [53]:
reviews.head()

,product_id,recommended,date,username,name
0,646380,1.0,"7 December, 2017",S0_GosU,Uphill Skiing
1,570,1.0,2018-07-09,S0_GosU,Dota 2
2,450390,1.0,2018-07-09,S0_GosU,The Lab
3,368730,0.0,2017-03-25,S0_GosU,No Time To Explain Remastered
4,26800,1.0,2018-07-09,S0_GosU,Braid